/* Start with core styles outside of a media query that apply to mobile and up */
/* Global typography and design elements, stacked containers */
body { font-family: Helvetica, san-serif; }
H1 { color: green; }
a:link { color:purple; }


#log {
    background-color: lightgrey;
    border-radius: 5px;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    font-family: "Courier New";
}

#parameters {
    width: 100%;
}

#parameters input {
    margin: 0.1em;
    padding: 0.1em;
    width: 95%;
}

.overlayWrapper {
    position: relative;
}

.coveredImage {
    position: absolute;
    top: 0px;
    left: 0px;
}

.overlayCanvas {
    opacity: 0.4;
    position: absolute;
    top: 0px;
    left: 0px;
}